html{
	scroll-behavior: smooth;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration:none;
	
}

.nav{
	position:fixed;
	width:100%;
	padding:15px 0;
	z-index:99;
	font-family:'Ubuntu', sans-serif;
	transition:all 0.3s ease;
}
.nav.sticky{
	padding:15px 0;
	background:crimson;
}

.max-width{
	max-width:1300px;
	padding:0 80px;
	margin:auto;
	
}
.nav .max-width{
	display:flex;
	align-items:center;
	justify-content: space-between;
}

.nav .menu li a{
	color:white;
	font-size:18px;
	font-weight:500;
	margin-left:35px;
	transition:color 0.4s ease;
}
.nav .menu li a:hover{
	color:crimson;
	transition:all 0.3s ease;
}

.nav.sticky .menu li a:hover{
	color:black;
}


.nav .menu li{
	list-style:none;
	display:inline-block;
	
}


.nav .logo a{
	font-size:35px;
	color:white;
	font-weight:600;
	margin-right:100px;
}
.nav .logo a span{
	color:crimson;
	transition:all 0.3s ease;
}
.nav.sticky .logo a span{
	color:white;
}
.menu-btn{
	color:white;
	font-size:23px;
	cursor:pointer;
	display:none;
}


.home{
	display:flex;
	background:url("pic21.jpg") no-repeat center;
	height:100vh;
	color:lightblue;
	min-height:500px;

	
}

.home .MaxWidth{
	margin:320px 0 auto 75px;
}

.home-content .text1{
	font-size:27px;
	
	
	
}
.home .home-content .text2{
	font-size:75px;
	font-weight:600;
	margin-left:-3px;
	
}
.home .home-content .text3{
	font-size:40px;
	margin:5px 0;
	
}
.service{
	
	background:;
	min-height:600px;
}
.service .service-name{
	font-size:40px;
	font-weight:600;
	color:black;
	letter-spacing:8px;
	text-align:center;
	margin-top:55px;
	font-family:'Ubuntu', sans-serif;
}
.service .service-name span{
	color:crimson;
}

.service .text-box{
	height:110px;
	width:615px;
	border-radius:2px;
	background-color:;
	
	position:absolute;
	top:740px;
	left:360px;
}

.service .text{
	font-size:17px;
	text-align:right;
	line-height:1.5;
	letter-spacing:1px;
	
}
.service .background{
	background-color:black;
	height: 220px;
    margin-top: 280px;
}

.service .box1{
	height:250px;
	width:370px;
	border-radius:4px;
	background-color:#222;
	color:white;
	position:absolute;
	top:930px;
	left:40px;
	transition:all 0.5s ease;
}

.service .box2{
	height:250px;
	width:370px;
	border-radius:4px;
	background-color:#222;
	position:absolute;
	top:930px;
	left:485px;
	transition:all 0.5s ease;
}
.service .box3{
	height:250px;
	width:370px;
	border-radius:4px;
	background-color:#222;
	position:absolute;
	top:930px;
	left:945px;
	transition:all 0.5s ease;
}
.service .logo{
	font-size:35px;
	text-align:center;
	padding:20px 0;
	color:lightblue;
	
}
.service .title p{
	font-size:35px;
	font-weight:400;
	font-family:'Ubuntu',sans-serif;
	text-align:center;
	color:white;
}

.service .dummy-text p{
	font-size:17px;
	font-family:'Overlock', cursive;
	text-align:center;
	padding:5px 40px 3px 40px;
	color:white;
}


.service .box1:hover,
.service .box2:hover,
.service .box3:hover{
	transform:scale(1.05);
	background-color:crimson;
	
}


.skills{
	min-height:520px;
}

.skills .skills-title{
	font-size:40px;
	font-weight:600;
	text-align:center;
	font-family:'Ubuntu', sans-serif;
	letter-spacing:5px;
}
.skills .skills-title span{
	color:crimson;
}
.skills .skills-title p{
	
	font-size:15px;
	letter-spacing:3px;
	margin-top:15px;
	
	
}

.skills .container{
	display:flex;
	align-items:center;
	justify-content:space-around;
}
.skills .container-1{
	height:300px;
	width:520px;
	border-radius:2px;
	background-color:white;
	position:absolute;
	top:1445px;
	left:30px;
}
.skills .container-1 p{
	font-size:19px;
	text-align:left;
	padding:15px;
	font-family:'Overlock', cursive;
}
.skills .container-1 h2{
	margin-left:14px;
}


.skills .container-2{
	height:300px;
	width:550px;
	border-radius:2px;
	background-color:white;
	position:absolute;
	top:1460px;
	left:750px;
}

.skills .container-2 .bars{
	margin-bottom:15px;
}

.skills .container-2 .info{
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-bottom:8px;
}
.skills .container-2 span{
	font-size:18px;
	font-weight:500;
}

.skills .container-2 .line{
	height:5px;
	width:100%;
	background:lightgray;
	position:relative;
}

.skills .container-2 .line::before{
	content:"";
	position:absolute;
	height:100%;
	
	top:0%;
	left:0%;
	background:crimson;
}
.skills .container-2 .html::before{
	width:75%;

}
.skills .container-2 .css::before{
	width:85%;

}
.skills .container-2 .js::before{
	width:70%;

}
.skills .container-2 .php::before{
	width:20%;

}
.about{
	min-height:600px;
}
.about .text{
	font-size:40px;
	font-weight:600;
	text-align:center;
	font-family:'Ubuntu', sans-serif
}
.about .text p{
	font-size:18px;
	color:crimson;
	margin-top:13px;
}

.about .pic-container{
	height:300px;
	width:350px;
	border-radius:10px;
	background:url("pic12.jpg") no-repeat center;
	position:absolute;
	top:1968px;
	left:85px;
}

.about .text-container{
	height:260px;
	width:600px;
	background-color:;
	position:absolute;
	top:1985px;
	left:680px;	
}
.about .text-container h2{
	padding:10px 0px 0 15px;
	font-size:25px;
	font-family:'Ubuntu', sans-serif;
}
.about .text-container p{
	font-size:17px;
	text-align:left;
	padding:15px;
	font-family:'Overlock', cursive;
}

.contact{
	position:relative;
	min-height:100vh;
	padding:50px 100px;
	background:url("blue.jpg");
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}

.contact .title h2{
	font-size:25px;
	font-weight:600;
	text-align:center;
	font-family:'Ubuntu', sans-serif;
}

.contact .container{
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:30px;
}
.contact .container .contactinfo{
	width:50%;
	display:flex;
	flex-direction:column;
}
.contact .container .contactinfo .box{
	position:relative;
	padding: 20px 0;
	display:flex;
}
.contact .container .contactinfo .box .icon{
	min-width:60px;
	height:60px;
	background:skyblue;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:50%;
	font-size:22px;
}
.contact .container .contactinfo .box .text{
	display:flex;
	margin-left:20px;
	font-size:16px;
	color:;
	flex-direction:column;
	font-weight:300;
}
.contact .container .contactinfo .box .text h3{
	font-weight:500;
	color:green;
}
.contact .contactform{
	width:38%;
	padding:40px;
	background:rgba(0,0,0,0.8);
	
}
.contact .contactform h2{
	font-size:30px;
	color:white;
	font-weight:500;
}
.contact .contactform .inputbox{
	position:relative;
	width:100%;
	margin-top:10px;
	
}
.contact .contactform .inputbox input,
.contact .contactform .inputbox textarea
{
	width:100%;
	padding:5px 0;
	font-size:16px;
	background:rgba(0,0,0,0.10);
	color:white;
	margin:10px 0;
	border:none;
	border-bottom:2px solid #333;
	outline:none;
	resize:none;
}

.contact .contactform .inputbox span{
	position:absolute;
	left:0;
	padding:5px 0;
	font-size:16px;
	margin:10px 0;
	pointer-events:none;
	transition:0.5s;
	color:lightgray;
}
.contact .contactform .inputbox input:focus ~ span,
.contact .contactform .inputbox input:valid ~ span,
.contact .contactform .inputbox textarea:focus ~ span,
.contact .contactform .inputbox textarea:valid ~ span{
	color:lightblue;
	font-size:13px;
	transform:translateY(-20px);
}
.contact .contactform .inputbox input[type="submit"]{
	width:100px;
	background:#00bcd4;
	color:#fff;
	border:none;
	cursor:pointer;
	padding:10px;
	font-size:18px;
}



.footer .container{
	background:black;
	height:60px;
	width:100%;
	margin-left:0px;
}

.footer .container .container-text p{
	color:white;
	font-size:20px;
	font-weight:500;
	font-family:'Ubuntu', sans-serif;
	text-align:center;
	padding:17px 0;
}
.footer .container .container-text span{
	color:crimson;
}

/* Media Queries Start */

@media screen and (max-width:1024px){
.service .service-name {
    font-size: 30px;
}

.service .text {
    font-size: 15px;
}
.service .text-box{
	position: absolute;
    top: 640px;
    left: 208px;
}
.service .box1{
	height: 200px;
    width: 300px;
	position: absolute;
    top: 820px;
    left: 27px;
}
.service .box2{
	height: 200px;
    width: 300px;
	position: absolute;
    top: 820px;
    left: 370px;	
}
.service .box3{
	height: 200px;
    width: 300px;
	position: absolute;
    top: 820px;
    left: 707px;
}

.service .logo {
    font-size: 30px;
}


.service .text {
    font-size: 15px;
}

.service .dummy-text p{
	font-size: 12px;
}
.service .background {
    
    height: 171px;
	width:auto;
	
	
}

.skills .container-1 h2 {
    margin-left: 12px;
    font-size: 20px;
}

.skills .container-1{
	position: absolute;
    top: 1445px;
    left: 13px;
	
}
.skills .container-1 p {
    font-size: 16px;
}
.skills .container-2{
	width: 360px;
	position: absolute;
    top: 1460px;
    left: 633px;
	
}

.skills .container-2 span {
    font-size: 14px;
    font-weight: 500;
}
.skills .skills-title {
    font-size: 30px;

}
.skills .skills-title p {
    font-size: 12px;
}
.about .text {
    font-size: 30px;
}
.about .text p {
    font-size: 14px;
}
.about .pic-container {
    height: 280px;
    width: 330px;
	position: absolute;
    top: 1968px;
    left: 54px;
}
.about .text-container{
	width: 432px;
	position: absolute;
    top: 1985px;
    left: 576px;
}
.about .text-container p {
    font-size: 14px;
}
.about .text-container h2 {
    font-size: 18px;
}
.contact .title h2 {
    font-size: 25px;
}
.contact .contactform h2 {
    font-size: 22px;
}



.contact .contactform .inputbox input:focus ~ span, .contact .contactform .inputbox input:valid ~ span, .contact .contactform .inputbox textarea:focus ~ span, .contact .contactform .inputbox textarea:valid ~ span{
	font-size: 12px;
}


}

@media screen and (max-width:768px){
	
.service .service-name {
    font-size: 25px;
}
.service .text-box {
    position: absolute;
    top: 740px;
    left: 127px;
}	
.service .text {
    font-size: 13px;
}
.service .background {
    height: 623px;
    width: auto;
}	
.service .box1 {
    height: 200px;
    width: 300px;
    position: absolute;
    top: 930px;
    left: 273px;
}	
.service .box2 {
    height: 200px;
    width: 300px;
    position: absolute;
    top: 1227px;
    left: 276px;	
}
.service .box3 {
    height: 200px;
    width: 300px;
    position: absolute;
    top: 1501px;
    left: 278px;
   
}	
.service .logo {
    font-size: 25px;
}	
.service .title p {
    font-size: 30px;	
}
.service .dummy-text p {
    font-size: 12px;
}
.skills .skills-title {
    font-size: 25px;
}	
.skills .skills-title p {
    font-size: 11px;
}	
.skills .container-1 h2 {
    margin-left: 12px;
    font-size: 16px;
}	
.skills .container-1 p {
    font-size: 14px;
}
.skills .container-1 {
    height: 300px;
    width: 343px;
	position: absolute;
    top: 1845px;
    left: 13px;
}	
.skills .container-2 {
    width: 288px;
    position: absolute;
    top: 1855px;
    left: 456px;
}
.skills .container-2 span {
    font-size: 12px;	
}
.about .text {
    font-size: 25px;
	margin-top: 60px;
}
.about .text p {
    font-size: 12px;
}
.about .pic-container {
    height: 250px;
    width: 300px;
    position: absolute;
    top: 2417px;
    left: 30px;
}
.about .text-container h2 {
    font-size: 14px;
}
.about .text-container {
    width: 273px;
	
    
    position: absolute;
    top: 2412px;
    left: 496px;

}
.about .text-container p {
    font-size: 12px;
}
.contact .title h2 {
    font-size: 22px;
}
.contact .contactform {
    width: 47%;
}
.contact .contactform h2 {
    font-size: 20px;
}
.contact .contactform .inputbox input:focus ~ span, .contact .contactform .inputbox input:valid ~ span, .contact .contactform .inputbox textarea:focus ~ span, .contact .contactform .inputbox textarea:valid ~ span{
	font-size: 13px;
}
	
.contact .container .contactinfo .box .text {	
	font-size: 14px;
}
.contact .container .contactinfo .box .icon {
    min-width: 49px;
    height: 42px;
	font-size: 18px;
}


.contact{
	padding:50px;
}
.container{
	flex-direction:column;
}
.contact .contactinfo{
	margin-bottom:40px;
}
.container .contactinfo,	
.contactform{
	width:100%;
}	
	
	
}


@media screen and (max-width:320px){
.service .service-name{
	font-size:22px;
}	
.service .text {
    font-size: 14px;	
}
.service .text-box{
	position:absolute;
	top:729px;
	left:1px;
	width:290px;
}
.service .box1{	
    height: 200px;
    width: 290px;
    position: absolute;
    top: 930px;
    left: 14px;	
}

.service .box2{	
    height: 200px;
    width: 290px;
    position: absolute;
    top: 1227px;
    left: 14px;	
}
.service .box3{	
    height: 200px;
    width: 290px;
    position: absolute;
    top: 1501px;
    left: 14px;	
}
.service .logo{
	font-size:25px;
}
.service .title p{
	font-size:30px;
}
.service .background{
	height:623px;
	width:auto;
}
.skills .skills-title{
	font-size:25px;
	margin-top:141px;
}
.skills .skills-title p{
	font-size:11px;
}
.skills .container-1{
	height:300px;
	width:288px;
	position:absolute;
	top:1845px;
	left:13px;
}

.skills .container-1 h2{
	font-size:16px;
}	
.skills .container-1 p{
	font-size:15px;
}	
.skills .container-2{
	width:288px;
	position:absolute;
	top:2128px;
	left:18px;
}
.skills .container-2 span{
	font-size:14px;
}
.about .text{
	font-size:25px;
	margin-top:164px;
	
}
.about .text p{
	font-size:12px;
}
.about .pic-container{
	height: 250px;
    width: 259px;
    position: absolute;
    top: 2547px;
    left: 30px;
}
.about .text-container{
	width:273px;
	position:absolute;
	top:2821px;
	left:21px;
}
.about .text-container p{
	font-size:14px;
}

.contact{
	margin-top:121px;
}
.contact .container .contactinfo .box .icon{
	margin-left:-76px;
}
.contact .contactform{
	width:130%;
}
.footer .container .container-text p{
	font-size:14px;
	
}


	
}


@media (max-width:975px){
.max-width{
	padding:0 50px;
}	
.menu-btn{
	display:block;
	z-index:9999;
}	
.menu-btn i.active:before{	
	content:"";	
}
.nav .menu{
	position:fixed;
	height:100vh;
	width:100%;
	left:-100%;
	top:0%;
	background:#111;
	text-align:center;
	padding-top:80px;
	transition:all 3s ease;
}
.nav .menu.active{
	left:0;
}
.nav .menu li{
	display:block;
}
.nav .menu li a{
	display:inline-block;
	margin:20px 0;
	font-size:25px;
}










}
